@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MEIA NOITE CIDADÃO, CIRCULANDO.</h1>
    <h2>NADA PARA VER AQUI</h2>
    <p>TESTE</p>

    <p>Leia sobre em: <a href="https://learn.microsoft.com/pt-br/aspnet/core/mvc/overview?view=aspnetcore-6.0">construindo aplicações web com ASP.NET Core</a>.</p>
</div>
